{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}

    <div class="row flex-vertical-center">
        <div style="margin-top:20px;" class="col-md-6">
            <span class="sub-title">我想赠送的书籍  共  {{ wishes|length }} 本</span>
            <hr>
        </div>
    </div>

    {% for wish in wishes %}
        <div class="row my-gifts-row">
            <div style="margin-bottom:30px; display: flex; justify-content: space-between"
                 class="col-md-9 col-padding content-box">
                <div style="display: flex; justify-content: flex-start; flex-grow: 1">
                    <a href="{{ url_for('web.detail',isbn=wish.book.isbn) }}" class="">
                        <div class="col-md-2 img-box">
                            <img class="book-img-small shadow" src="{{ wish.book.image }}">
                        </div>
                    </a>
                    <div style="margin-top:6px;" class="col-md-6 flex-vertical">
                        <a href="{{ url_for('web.detail',isbn=wish.book.isbn) }}" class="">
                            <span id="title" class="book-middle-title">{{ wish.book.title }}</span>
                            <div style="margin-top:6px;" class="flex-vertical description-font">
                                <span id="author">{{ wish.book.author }}</span>
                                <span id="publisher">{{ wish.book.publisher }}</span>
                                <span id="price">{{ wish.book.price }}</span>
                                <span id="isbn">{{ wish.book.isbn }}</span>
                            </div>
                        </a>
                        <a class="link-normal" href="/wish/book/9787806579060/redraw">
                            撤销
                        </a>
                    </div>
                </div>
                <div class="col-md-3 flex-vertical" style="padding: 0">
                    <a href="{{ url_for('web.detail',isbn=wish.book.isbn) }}">
                        <span class="bg-info">{{ wish.wishes_count }}人想要</span>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}



{% endblock %}