{% extends 'base.html' %}

{% block content %}

    <div id="books" class="row">
            <div class="col-sm-4 book-container">
                <a href="/book/9787806579060/detail" class="link">
                    <div class="col-md-4 no-padding">
                        <img class="book-img cssshadow" src=https://img3.doubanio.com/lpic/s1464505.jpg>
                    </div>
                    <div style="margin-left: 0;" class="col-md-8 flex-vertical book-info">
                        <span class="title">村上春树作品集</span>
                        <div class="description-font"><span>作者：</span><span><span>[日]村上春树</span></span>
                        </div>
                        <span class="summary description-font">听风的歌\n袋鼠通信\n发条鸟年代记（第一部：鹊贼篇 预言鸟篇）\n发条鸟年代记（第二部：刺鸟人篇）</span>
                    </div>
                </a>
            </div>

    </div>

{% endblock %}